<!DOCTYPE html>
<html>

<head>
    <style>
        h1 {
            background-color: blue;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
        }
        p {
            background-color: red;
            color: blue;
            text-align: left;
            font-family: Arial, Helvetica, sans-serif;
        }
        .image06 {
            border-radius: 20px;
            text-align: right
        }
        .image04 {
            border-radius: 95%;
            text-align: left
        }
        .image01 {
            border-radius: 20px;
            text-align: right
        }
        .image10 {
            border-radius: 20px;
        }
    </style>
</head>

<body>